<mat-toolbar color="primary">
  <span>EasyCarRental</span>
  &nbsp;
  <button (click)="navigate('home')" aria-label="Example icon-button with heart icon" class="example-icon favorite-icon"
          mat-button>
    Home
  </button>
  <button (click)="navigate('aboutus')" aria-label="Example icon-button with heart icon"
          class="example-icon favorite-icon" mat-button>
    About US
  </button>
  <button (click)="navigate('vehiclefleet')" aria-label="Example icon-button with share icon" class="example-icon"
          mat-button>
    Vehicle Fleet
  </button>
  <span class="example-spacer"></span>
  <mat-form-field class="example-full-width">
    <mat-label>Search</mat-label>
    <input (keyup.enter)="searchCar()" matInput placeholder="Ex. BMW I8">
  </mat-form-field>
  &nbsp;
  <button aria-label="Example icon-button with share icon" class="example-icon" mat-button>
    Search
  </button>
  &nbsp;
  <button (click)="handleSignIN()" *ngIf="userState==='empty'; else userMenu"
          aria-label="Example icon-button with share icon" color="accent"
          mat-raised-button>
    {{userState === "empty" ? "Sign IN" : userState}}
  </button>
  <ng-template #userMenu>
    <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" color="basic" mat-button>
      <mat-icon>account_circle</mat-icon>
      {{userState}}
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="handleLogOut()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>

    </mat-menu>
  </ng-template>

</mat-toolbar>

<router-outlet></router-outlet>
